<section>
    <div class="container">
        <h1>All Products</h1>
        <div class="">
            <a href="/admin/add-product" class="btn btn-success my-4">Add Product</a>
        </div>
        <table class="table mt-5 display" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this.productname}} </td>
                    <td>{{this.productdescription}} </td>
                    <td>
                        {{!-- {{#each productimage}}
                        {{#if @first}} --}}
                        <img width="50px" height="50px" src="/images/productimg/{{productimage.[0]}}" alt="">
                        {{!-- {{/if}}
                        {{/each}} --}}
                         </td>
                    <td>{{this.productprice}} </td>
                    <td>{{this.productcategory}} </td>
                    <td>
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary mt-1">Edit</a>
                        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger mt-1"
                            onclick="return confirm('Are you sure to delete {{this.Name}}?')">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</section>
<script>
    $(document).ready(function () {


        $('#usersTable').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#usersTable').DataTable();
</script>