
  <div class="main-heading mb-10 text-center  mx-auto">My Orders</div>
  <div class="container">
    <div class="row">
      {{#if orders}}
      <div class="table-responsive">
        <table class="table" id="orderTable" >
          <thead class="headt text-center" style="background-color: white; color: black;">
            <tr>
              <th scope="col" >Date</th>
              <th scope="col">products</th>

              
              <th scope="col">Total Amount</th>


              <th scope="col">Payment</th>
              <th scope="col">Status</th>
              
              <th></th>


            </tr>
          </thead>
          <tbody>
            {{#each orders}}

            <tr class="text-left" ondblclick="location.href='/orderDetails/{{this._id}}'" >
              <td>{{this.orderdDate}}</td>
              <td>
                {{#each this.orderItems}}

                {{this.product.productname}} <br>
               {{#each this.product.productimage}} 
                           {{#if @first}}
                          <img src="/images/productimg/{{this}}" alt=""
                                style="width: 100px;">
                                {{/if}}
                                 {{/each}}<br>




                {{/each}}
              </td>


              

              <td>Rs.{{this.totalPrice}}</td>


              <td>{{this.PaymentMethod}}</td>
              <td>{{this.orderStatus}}</td>
              
              <td>
                {{#if (eq this.orderStatus 'cancelled')}}
                <a href="" class="btn btn-danger">Cancelled</a>
                {{else}}
                <a href="/Cancel-order/{{this._id}}" class="btn btn-danger"
                  onclick="return confirm('Are you sure to cancel {{this.Name}}?')">
                  Cancel
                  </a>
              </td>

              {{/if}}
              </td>

            </tr>
            {{/each}}
          </tbody>
        </table>
        {{else}}
        <div class="mt-5">
        <div class="align-items-center text-center text-danger">
        <h3>Your Order is Empty!!!!</h3>
        </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  </div>
</section>
